<!DOCTYPE html>
<html>
<head>
    <title>Table</title>
    <meta charset="utf-8" />
    <style>
        #label_th {
            position: absolute;
        }

        .table-label, td{
            font-size: 16pt;
            font-weight: normal;
            font-family: "Times New Roman";
        }

        .table-label {
            background-color: #0000;
            border: 0;
            padding: 0;
            margin: 0;
        }
        .table-label:disabled {
            color: black;
        }
    </style>
</head>
<body>
<h1>Show tables</h1>
<table>
    <tr>
        <th >
            ID
        </th>
        <th id="label_th">
            Label
        </th>
    </tr>
    {{#each item}}
        {{#if this.ifLeaf}}
            <tr id="level_1">
                <td>{{this.value}}</td>
                <td>
                    <input class="table-label" type="submit" id="{{this.value}}" value="{{this.label}}" style="background-color: #0000; border: 0">
                </td>
            </tr>
        {{else}}
            <tr>
                <td>{{this.value}}</td>
                <td>{{this.label}}</td>
            </tr>
        {{/if}}

    {{/each}}
</table>
<table id="tb2">
    <tr>
        <th>
            ID
        </th>
        <th>
            Info
        </th>
    </tr>
    {{#each tb2}}
        <tr id="tb2|{{this.id}}">
            <td>{{this.id}}</td>
            <td>{{this.info}}</td>
            <td><button class="change-btn">Изменить</button></td>
            <td><button class="delete-btn">Удалить</button></td>
        </tr>
    {{/each}}
</table>
<form name="add_tb2">
    <div>Добавить говый элемент</div>
    <label>Info</label>
    <input type="text" name="info"><br>
    <input type="submit" id="add_tb2_submit" value="Добавить"></input>
</form>
<script>
    document.querySelectorAll(".table-label").forEach((elem) => {
        elem.addEventListener('click', (e) => {
            let id = e.target.id
            let label = e.target.value
            let level = e.target.parentNode.parentNode.id
            let data = JSON.stringify({id: id, level: level})
            let request = new XMLHttpRequest();
            request.open("POST", "/add", true);
            request.setRequestHeader("Content-Type", "application/json");
            request.addEventListener("load", () => {
                let answer = JSON.parse(request.response)
                e.target.value = label + ' - ' + answer.label;
                let lvl = parseInt(level.split('_')[1]) + 1
                e.target.parentNode.parentNode.id = level.split('_')[0] + '_' + lvl
                if (answer.ifLeaf === false) e.target.setAttribute('disabled', 'disabled');
            })
            request.send(data)
        })
    })
    document.querySelectorAll(".delete-btn").forEach((elem) => {
        elem.addEventListener('click', (e) => {
            let id = e.target.parentNode.parentNode.id.split('|')[1];
            let data = JSON.stringify({id: id})
            let request = new XMLHttpRequest();
            request.open("POST", "/delete_tb2", true);
            request.setRequestHeader("Content-Type", "application/json");
            request.addEventListener("load", () => {
                if (request.status !== 400) {
                    e.target.parentNode.parentNode.remove();
                }
            })
            request.send(data)
        })
    })
    document.getElementById("add_tb2_submit").addEventListener("click", (e) => {
        let addForm = document.forms['add_tb2'];
        let info = addForm.elements["info"].value;
        let data = JSON.stringify({info: info})
        let request = new XMLHttpRequest();
        request.open("POST", "/add_tb2", true);
        request.setRequestHeader("Content-Type", "application/json");
        request.addEventListener("load", () => {
            let answer = JSON.parse(request.response)
            let tr = document.createElement("tr")
            let td_id =document.createElement("td")
            let td_info = document.createElement('td')
            let td_change = document.createElement('td')
            let td_delete = document.createElement('td')
            let btn_delete = document.createElement('button')
            let btn_change = document.createElement('button')
            btn_change.className = "change-btn"
            btn_change.textContent = "Изменить"
            btn_delete.className = "delete-btn"
            btn_delete.textContent = "Удалить"
            td_delete.append(btn_delete)
            td_change.append(btn_change)
            td_info.textContent = answer.info
            td_id.textContent = answer.id
            tr.append(td_id, td_info, td_change, td_delete)
            tr.id = "tb2|" + answer.id;
            document.getElementById("tb2").append(tr)
        })
        request.send(data)
    })
    document.querySelectorAll(".change-btn").forEach((elem) => {
        elem.addEventListener('click', (e) => {
            let id = e.target.parentNode.parentNode.id.split('|')[1];
            let tr_table = e.target.parentNode.parentNode
            let info = tr_table.querySelectorAll('td')[1].textContent
            tr_table.removeChild(tr_table.querySelectorAll('td')[1])
            tr_table.removeChild(tr_table.querySelectorAll('td')[1])
            tr_table.removeChild(tr_table.querySelectorAll('td')[1])
            let inputInfo = document.createElement('input')
            inputInfo.value = info
            inputInfo.id = "inputInfo"
            let btnSub = document.createElement('button')
            btnSub.textContent = "Сохранить"
            btnSub.onclick = () => {
                info = inputInfo.value;
                console.log(info)
                let data = JSON.stringify({id: id, info: info})
                let request = new XMLHttpRequest();
                request.open("POST", "/change_tb2", true);
                request.setRequestHeader("Content-Type", "application/json");
                request.addEventListener("load", () => {
                    if(request.status != 400) {
                        let td_info = document.createElement('td')
                        let td_change = document.createElement('td')
                        let td_delete = document.createElement('td')
                        let btn_delete = document.createElement('button')
                        let btn_change = document.createElement('button')
                        tr_table.removeChild(tr_table.querySelector('input'))
                        tr_table.removeChild(tr_table.querySelector('button'))
                        btn_change.className = "change-btn"
                        btn_change.textContent = "Изменить"
                        btn_delete.className = "delete-btn"
                        btn_delete.textContent = "Удалить"
                        td_delete.append(btn_delete)
                        td_change.append(btn_change)
                        td_info.textContent = info
                        tr_table.append(td_info, td_change, td_delete)
                    }
                })
                request.send(data)
            }
            tr_table.append(inputInfo, btnSub)
            console.log(info)
        })
    })
</script>
</body>
<html>